.breadcrumb_container {
  .ant-breadcrumb {
    font-size: 14px;

    .ant-breadcrumb-link {
      color: var(--text-color-secondary);
      transition: color 0.3s;
    }

    .ant-breadcrumb-separator {
      color: var(--text-color-tertiary);
    }

    // 当前页面样式
    .ant-breadcrumb-item:last-child .ant-breadcrumb-link {
      color: var(--text-color);
      font-weight: 500;

      &:hover {
        color: var(--text-color);
        cursor: default;
      }
    }
  }
}
